.selected {
    background: #009bff;
    color: #28292a;
}
.wrong {
    background: rgb(230, 12, 12);
    color: #e6edf4;
}

.game-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 5px 7px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background-color: #4d4242;
    color: White;
}
button:hover {
    background-color: #fff;
    color: #28292a;
}
